body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
    font-size: 16px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;  /* Allow the ul to grow */
    justify-content: flex-start; /* Align items to the left */
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem; /* Decreased font size */
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0073e6;
}

nav .logo {
    font-family: 'Roboto', sans-serif; /* Changed font family */
    font-weight: 700;
    font-size: 1.8rem; /* Adjusted font size */
    letter-spacing: 1px;
    margin-right: 2rem; /* Added margin to separate logo from menu */
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .collapsible-menu {
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        top: 60px;
        width: 100%;
        display: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
    }

    nav ul li {
        text-align: left;
        padding: 10px 20px;
    }
}

main {
    padding-top: 100px; /* To offset the fixed header */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #ffffff 50%, #f7f7f7 50%);
}

.profile {
    max-width: 800px;
    margin: 2rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: translateY(-10px);
}

.profile p {
    line-height: 1.6;
    font-size: 1.1rem;
}

.profile a {
    color: #0073e6;
    text-decoration: none;
}

.profile a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.social-media-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.social-media-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-media-icons a:hover {
    color: #0073e6;
}
